.layout:not(.layout_footer) {
    background: var(--color-light-xl);
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__h1 {
    color: var(--color-dark-l);
}
.header__text {
    color: var(--color-dark-3xl);
}
.menu__item {
   color: var(--color-dark-l);
}
.menu__item_active {
    color: var(--color-dark-3xl);
}
.main-content-flexible {
    flex: 1 0 auto;
}
.pets__container-cards {
    display: flex;
    flex-wrap: wrap;
}
.pets__cards-column {
    display: flex;
    flex-direction: column;
}
.pets__pagination {
    display: flex;
}
.pets__pagination > button:not(:last-child) {
    margin-right: 20px;
}
.pets__pagination > .button_arrow {
    font-size: 20px;
    line-height: 23px;
}
